.app {
    background: #209cee;
    height: 100vh;
    padding: 30px;
  }
  
  .todo-list {
    background: #e8e8e8;
    border-radius: 4px;
    max-width: 400px;
    padding: 5px;
  }
  
  .todo {
    align-items: center;
    background: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    margin-bottom: 6px;
    padding: 3px 10px;
  }

  .row {
    display: flex;
    flex-direction: row;
    width:auto;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .choice {
    margin-left: 50px;
    margin-right: 50px;
  }

  .rock {
    display: flex;
    justify-content: space-around;
  }

  .user {
    position: relative;
    right: 25%;
  }

  .enemy {
    position: relative;
    left: 25%;
  }

  .row2 {
    display: flex;
    flex-direction: column;
    width:auto;
    align-items: center;
    justify-content: center;
    position: relative;
  }